@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: white;
  --color-primary-transparent: rgba(255, 255, 255, 0.5);
  --bg-primary: black;
  --bg-secondary: rgba(18,18,18,255);
  --bg-tertiary: rgba(36,36,36,255);
  
}

body {
  background-color: var(--bg-primary);
  color: white;
}

li {
  list-style-type: none;
}

.c-primary {
  color: var(--color-primary);
}
.c-primary-t {
  color: var(--color-primary-transparent);
}

.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}
.bg-tertiary {
  background-color: var(--bg-tertiary);
}